---
import { ViewTransitions } from 'astro:transitions';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{"Astro example"}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
     href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=fallback"
     rel="stylesheet" />
    <script type="importmap">
    {
      "imports": {
        "react": "https://esm.sh/react",
        "react-dom": "https://esm.sh/react-dom",
        "solid-js": "https://esm.sh/solid-js"
      }
    }
    </script>
    <script>
      import { defineCustomElements } from '@trimble-oss/modus-web-components/loader';
      defineCustomElements();
    </script>
  </head>
  <body>
    <main>
     <modus-navbar
       id="working"
       show-apps-menu
       show-help
       show-main-menu>
       <div slot="main" style="height:300px; display: flex; flex-direction: column">
         <a href="/fe-a" onclick="window.location.href = '/fe-a';">Microfrontend A (React)</a>
         <a href="/fe-c" onclick="window.location.href = '/fe-c';">Microfrontend C (Solid)</a>
       </div>
      </modus-navbar>

      <slot />
    </main>
  </body>
</html>

<style>
html {
  font-family: system-ui, sans-serif;
  background-color: #f6f6f6;
}

main {
  margin: auto;
  /* padding: 1.5rem; */
  /* max-width: 60ch; */
}

body {
  margin: 0
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
}
</style>
