---
import Layout from "../layouts/default.astro"
import MfA from "../components/react/MfA.jsx"
---

<Layout>
  <h1>Microfrontend A</h1>
  <section>
    <MfA client:only="react"/>
  </section>

</Layout>
