---
import Layout from "../layouts/default.astro"
---

<Layout>
  <h1>Microfrontends Home</h1>
  <section>
    <h3>Microfrontends: </h3>
    <div>
       <a href="/fe-a">MF A (React)</a>
       <a href="/fe-b">MF B (React)</a>
       <a href="/fe-c">MF C (Solid)</a>
    </div>
  </section>
</Layout>
