---
import Layout from "../layouts/default.astro"
import SolidComponent from "../components/SolidComponent.jsx";
---

<Layout>
  <h1>Microfrontends Home</h1>
  <section>
    <SolidComponent/>
  </section>
</Layout>
