---
import Layout from "../layouts/default.astro"
---

<Layout>

  <h1>Microfrontends</h1>
  <section>
    <a href="/fe-a">Microfrontend A (React)</a>
    <a href="/fe-c">Microfrontend C (Solid)</a>
  </section>
</Layout>
